<div class="container">
    <div class="row">
      <div class="col-sm-3">
      </div>
      <div class="col-sm">
        <div class="card-body">
            <p class="login-box-msg">Profile</p>
        
            <form  (submit)="update()">
              <div class="input-group mb-3">
                <input type="text" class="form-control" [(ngModel)]="user.nom" name="nom" placeholder="Nom">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-user"></span>
                  </div>
                </div>
              </div>
              <div class="input-group mb-3">
                <input type="text" class="form-control" name="prenom" [(ngModel)]="user.prenom" placeholder="Prenom">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-user"></span>
                  </div>
                </div>
              </div>
              <div class="input-group mb-3">
                <textarea  class="form-control" name="adresse" [(ngModel)]="user.adresse" placeholder="Adresse"></textarea>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-globe"></span>
                  </div>
                </div>
              </div>
              <div class="input-group mb-3">
                <input type="number" min="18" class="form-control" [(ngModel)]="user.age" name="age" placeholder="Age">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-list-ol"></span>
                  </div>
                </div>
              </div>
              
              <div class="input-group mb-3">
                <input type="email" name="email" class="form-control" [(ngModel)]="user.email" placeholder="Email">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                  </div>
                </div>
              </div>
              <div class="input-group mb-3">
                <input type="password" name="mdp" class="form-control" [(ngModel)]="user.mdp" placeholder="Password">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                  </div>
                </div>
              </div>
          
              <div class="input-group mb-3">
                <input type="text"  class="form-control" name="cin" [(ngModel)]="user.cin" pattern="[0-9]{8}" placeholder="Carte nationale">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-flag"></span>
                  </div>
                </div>
              </div>
              <div class="input-group mb-3">
                <input type="text"  class="form-control" [(ngModel)]="user.rib" name="rib" placeholder="RIB bancaire">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-money-bill"></span>
                  </div>
                </div>
              </div>
              <div class="row">
             
                <!-- /.col -->
                <div class="col-4">
                  <button type="submit" class="btn btn-primary btn-block">Modifier</button>
                </div>
                <!-- /.col -->
              </div>
            </form>
        
            
        
          </div>      </div>
      <div class="col-sm-3">
      </div>
    </div>
  </div>
